<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508697005882-0fpfrgkkv86q6frtlvfq5ud0a8vroprl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508697005882-0fpfrgkkv86q6frtlvfq5ud0a8vroprl</string>
	<key>API_KEY</key>
	<string>AIzaSyAAJwgQPDBEi6DLwKtUjTyfAcQwnRHalEo</string>
	<key>GCM_SENDER_ID</key>
	<string>508697005882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopping</string>
	<key>PROJECT_ID</key>
	<string>rn-shopping-c2351</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-shopping-c2351.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508697005882:ios:306cb1b03ac5ce24ae8a03</string>
	<key>DATABASE_URL</key>
	<string>https://rn-shopping-c2351.firebaseio.com</string>
</dict>
</plist>